body{
        width: 100%;
        min-height: 100vh;
        height: 100vh;
        opacity: 0.8;
        z-index: 0;
        background-color: whitesmoke;
        background-size: cover;
}
.star-rating { text-align: center;
  direction: rtl;
  
}

.star-rating input {
  display: none
}

.star-rating label {
  color:teal;
  font-size: 20px;
  padding: 0;
  cursor: pointer;
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
  color: #ffbf00
}


  h4{ text-align: justify; 
    text-align: center;
   
  }

  
.botones{
  text-align: center;
}

p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-size: large;
  font-family: cursive;
  color:rgb(10, 9, 9);
}
h
.botones{
  font-size: large;
}


.com{
margin-right:200px;
margin-left:200px;
}
h1{
  
  text-align: center;
}
h3 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}