body{
        width: 100%;
        min-height: 100vh;
        height: 100vh;
        opacity: 0.8;
        z-index: 0;
        background: linear-gradient(45deg,#3a96bb,#8aa3f7);
        background-size: cover;
}
.star-rating {
  direction: rtl;
  
}

.star-rating input {
  display: none
}

.star-rating label {
  color: rgb(30, 55, 197);
  font-size: 20px;
  padding: 0;
  cursor: pointer;
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
  color: #ffbf00
}

p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-size: large;
}
hr{
  color: blue;
}
.botones{
  font-size: large;
}