
a{
  color: black;
}
.card{
  display: inline-block;
  padding-bottom: 4px;
}
input{

    display:block;
   
    width: 180px;
    height: 20px;
    
}
button{ 
    font-size: 10px;
    
    text-align: center;
    width: 90px;
    height: 30px;
  
}

